*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    /*to get 10px in percentage, we divide 10 by the default browser font-size which is 16px and it gives 62.5% */
    /*10px equals 1rem because this is the root font-size */


    @include respond(big-screen){
        font-size: 81.25%; // font-size: 13px; min-width: 1800px;
    }

    @include respond(tab-land){
        font-size: 56.25%; //font-size of 9px for max-width of 1200px
    }

    @include respond(tab-port){
        font-size: 50%; // font-size of 8px for max-width: 900px;
    }

    @include respond(phone){
        font-size: 43.75%; // font-size: 7px; for max-width: 600px;
    }
}

body {
    box-sizing: border-box;
    padding: 2rem;

    @include respond(tab-port){
       padding: 0;
    }
}